# **Varible**

In [1]:
# String
nama = 'Sasuke'
umur = '25'

In [2]:
nama

'Sasuke'

In [3]:
type(nama)

str

In [4]:
umur

'25'

In [5]:
type(umur)

str

In [6]:
# Integer
umur = 25

In [7]:
type(umur)

int

In [8]:
# Boolean
jomblo = True

In [9]:
type(jomblo)

bool

In [10]:
print(jomblo)

True

In [11]:
# Float
phi = 3.14

In [12]:
type(phi)

float

### Example 1

Sebuah `variable` nama dan `NIP`:

In [13]:
nama = 'Sasuke'
nip = 22100105

In [14]:
nama

'Sasuke'

In [15]:
nip

22100105

In [16]:
print("Nama:" + nama)
print("NIP:" + str(nip))

Nama:Sasuke
NIP:22100105

In [17]:
print(f"Nama: {nama}")
print(f"NIP: {nip}")

Nama: Sasuke
NIP: 22100105

**Note:**

Penggunaan `"` dan `'` dalam pemanggilan string atau melakukan printing.

In [18]:
print(f"Nama: {nama}")
print(f"NIP: {nip}")

Nama: Sasuke
NIP: 22100105

In [19]:
print(f"Nama: {nama}")
print(f'NIP: "{nip}"')

Nama: Sasuke
NIP: "22100105"

In [20]:
print(f"Nama: {nama}")
print(f"NIP: '{nip}'")

Nama: Sasuke
NIP: '22100105'

In [21]:
print(f"Nama: {nama}")
print(f"NIP: \"{nip}\"")

Nama: Sasuke
NIP: "22100105"

### Case 1

Buat sebuah variable `nama` dan `NRP` teman-teman lalu panggil di dalam jupyter-notebook!

In [24]:
nama = 'Sasuke'
nip = '222190005'

print(f'Nama: {nama}')
print(f'NIP : {nip}')

Nama: Sasuke
NIP : 222190005

### Example 2

Konversi program untuk memanggil variable `name` dan `NIP` yang sudah dibuat pada **Example 1** dalam jupyter-notebook ke file python atau `*.py` dengan nama file `example_variable.py`!

### Case 2

Konversi program untuk memanggil variable `name` dan `NRP` yang sudah dibuat pada **Case 1** dalam jupyter-notebook ke file python atau `*.py` dengan nama file `variable.py`!

# **Arithmetic Operation**

In [25]:
a = 10
b = 5

a + b

15

In [26]:
c = a + b

In [27]:
c

15

c = c + 1

In [28]:
# Increment
c += 1

In [29]:
c

16

c = c + 4

In [30]:
c += 4

In [31]:
c

20

In [32]:
# decrement
c -= 1

In [33]:
c

19

In [34]:
e = 40
f = 20

print(e * f)
print(e / f)
print(e + f)
print(e - f)
print(e % f) # hasil bagi (mod)
print(e ** 2)

800
2.0
60
20
0
1600

In [35]:
f % 3

2

### Example 3

Konversi perhitungan **Volume** balok menjadi sebuah program yang berjalan di jupyter-notebook!

In [36]:
panjang = 500
lebar = 5
tinggi = 10

volume = panjang * lebar * tinggi
volume

25000

### Case 3

Konversi perhitungan **Luas** dan **Keliling** balok menjadi sebuah program yang berjalan di jupyter-notebook!

![title](https://rumusrumus.com/wp-content/uploads/2015/05/jawaban-soal-matematika-balok.png)

In [45]:
panjang = 500
lebar = 5
tinggi = 10

luas = 2 * ((panjang * lebar) + (panjang * tinggi) + (lebar * tinggi))
print(f'Luas: {luas}')

keliling = 4 * (panjang + lebar + tinggi)
print(f'Keliling: {keliling}')

Luas: 15100
Keliling: 2060

### Example 4

Konversi perhitungan volume yang sebelumnya berjalan di jupyter-notebook menjadi sebuah file python atau `*.py` dengan nama file `volume.py`!

### Case 4

Konversi perhitungan luas dan keliling yang sebelumnya berjalan di jupyter-notebook menjadi sebuah file python atau `*.py` dengan nama masing-masing file `luas.py` dan `keliling.py`!

# **Tuple**

In [46]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7)

print("Print all tuple1: ", tup1)
print("Print all tuple2: ", tup2)
print("Print tuple1 element-0: ", tup1[0])
print("Print tuple1 element-1 until 5: ", tup2[1:5])
print("Join two tuple: ", tup1 + tup2)

Print all tuple1:  ('physics', 'chemistry', 1997, 2000)
Print all tuple2:  (1, 2, 3, 4, 5, 6, 7)
Print tuple1 element-0:  physics
Print tuple1 element-1 until 5:  (2, 3, 4, 5)
Join two tuple:  ('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7)

In [47]:
tup1[1]

'chemistry'

In [48]:
len(tup1)

4

In [49]:
tup1[3]

2000

# **List**

In [50]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print("Print all list: ", list1)
print("Print list element-0: ", list1[0])
print("Print list element-1: ", list1[1])
print("Print list element-1 until 3: ", list1[1:3])
print("Print list element-1 until 4: ",list1[1:4])
print("Print list element-2 until end: ",list1[2:])
print("Print list twice: ", list2 * 2)
print("Join two list: ", list1 + list2)

Print all list:  ['physics', 'chemistry', 1997, 2000]
Print list element-0:  physics
Print list element-1:  chemistry
Print list element-1 until 3:  ['chemistry', 1997]
Print list element-1 until 4:  ['chemistry', 1997, 2000]
Print list element-2 until end:  [1997, 2000]
Print list twice:  [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]
Join two list:  ['physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7]

In [51]:
print("Print list element-1 until 4: ",list1[1:4])

Print list element-1 until 4:  ['chemistry', 1997, 2000]

In [52]:
print("Print list element-1 until 4: ", list1[1:len(list1)])

Print list element-1 until 4:  ['chemistry', 1997, 2000]

In [53]:
list2

[1, 2, 3, 4, 5, 6, 7]

In [54]:
list2.pop()

7

In [55]:
list2

[1, 2, 3, 4, 5, 6]

In [56]:
list2.pop(1)

2

In [57]:
list2

[1, 3, 4, 5, 6]

### Case 5

Uncomment cell dibawah ini lalu kemudian eksekusi dan amati perbedaanya!

List:

In [58]:
list1

['physics', 'chemistry', 1997, 2000]

In [59]:
list1[1] = 'math'

In [60]:
list1

['physics', 'math', 1997, 2000]

In [61]:
list1[1]

'math'

Tupple:

In [62]:
tup1

('physics', 'chemistry', 1997, 2000)

In [63]:
tup1[1]

'chemistry'

In [67]:
# tup1[1] = 'math'

TypeError: 'tuple' object does not support item assignment

In [65]:
tup1[1]

'chemistry'

In [66]:
tup1

('physics', 'chemistry', 1997, 2000)

Simpulkan dan jawab pada sel dibawah ya! dan jangan lupa cell dibawah diganti ke format MD atau Markdown.

List bersifat mutable atau bisa di ubah, sedankan tupple bersifat imutable atau tidak bisa diubah. Keduanya sama-sama memiliki fungsi seperti array atau multi value dalam satu variabel.

# **String**

In [68]:
g = 'Sasuke pergi ke pasar'

print(len(g))
print(g.split(' '))
print(g.lower())
print(g.upper())

21
['Sasuke', 'pergi', 'ke', 'pasar']
sasuke pergi ke pasar
SASUKE PERGI KE PASAR

In [69]:
sasuke_do = 'Sasuke, tolong ambilkan buah nanas!'
sasuke_do.split(",")

['Sasuke', ' tolong ambilkan buah nanas!']

In [70]:
len(sasuke_do.split(","))

2

In [71]:
sasuke_do.split(",")[1]

' tolong ambilkan buah nanas!'

In [72]:
type(sasuke_do.split(","))

list

In [73]:
type(sasuke_do.split(",")[1])

str

In [74]:
list_sasuke_do = sasuke_do.split(",")
list_sasuke_do

['Sasuke', ' tolong ambilkan buah nanas!']

In [75]:
list_sasuke_do.reverse()

In [76]:
list_sasuke_do

[' tolong ambilkan buah nanas!', 'Sasuke']

### Case 6

Buat sebuah variable yang berisi string perkenalan nama dan umur, misal:

"Halo.. Nama saya sasuke, saya berusia 17 tahun!"

Print variable tersebut dan split berdasarkan spasi menjadi sebuah list kemudian print juga yang versi List!

In [78]:
text = "Halo.. Nama saya sasuke, saya berusia 17 tahun!"

print(text)
print(text.split(' '))

Halo.. Nama saya sasuke, saya berusia 17 tahun!
['Halo..', 'Nama', 'saya', 'sasuke,', 'saya', 'berusia', '17', 'tahun!']

### **Convert String to Number**

In [79]:
h = '25'
i = int(h)

print(type(h))
print(i)
print(type(i))

<class 'str'>
25
<class 'int'>

In [80]:
usia = '10'
type(usia)

str

In [81]:
usia = int(usia)
usia

10

In [82]:
type(usia)

int

### Example 5

Convert umur dalam List yang sebelumnya dibuat dan tersimpan dalam **Case 6** menjadi sebuah integer!

In [83]:
sasuke_do_example = 'Halo.. Nama saya sasuke, saya berusia 17 tahun!'
sasuke_do_example = sasuke_do_example.split(" ")
sasuke_do_example

['Halo..', 'Nama', 'saya', 'sasuke,', 'saya', 'berusia', '17', 'tahun!']

In [84]:
type(sasuke_do_example[6])

str

In [85]:
sasuke_do_example[6] = int(sasuke_do_example[6])
sasuke_do_example

['Halo..', 'Nama', 'saya', 'sasuke,', 'saya', 'berusia', 17, 'tahun!']

In [86]:
type(sasuke_do_example[6])

int

### Case 7

Convert umur dalam List yang sebelumnya dibuat dan tersimpan dalam **Case 6** menjadi sebuah integer!

In [89]:
# before
umur = text.split(' ')[-2]
print(f'{umur}, type: {type(umur)}')

# after
umur = int(text.split(' ')[-2])
print(f'{umur}, type: {type(umur)}')

17, type: <class 'str'>
17, type: <class 'int'>

### Case 8

Convert **Case 6** dan **Case 7** menjadi sebuah program python dengan nama `list_string.py`!

# **Math Module**

In [90]:
import math

print(round(6.4))
print(round(6.8))
print(math.floor(6.8))
print(math.ceil(6.1))

6
7
6
7

In [91]:
num1 = 2**2
num1

4

In [92]:
math.sqrt(num1)

2.0

### Case 9

![title](https://akupintar.id/documents/portlet_file_entry/20143/2+%284%29.png/d8907cd9-a23e-b777-4594-f3355af498cb?imagePreview=1)

Konversi perhitungan pytagoras berikut menjadi sebuah program yang berjalan di jupyter-notebook dan convert menjadi sebuah program python dengan extension `*.py` dengan nama `math_module_example`!

In [94]:
ab = 12
bc = 5

ac = math.sqrt(ab**2 + bc**2)
ac

13.0

# **Dictionary**

+ jumlahnya 1: `{'key': value}`
+ jumlahnya lebih dari 1: `{'key1': value1, 'key2': value2, 'key3': {'key3.1': value31, 'key3.2': value32}}`

In [ ]:
# Inisiasi variable dictionary kosong
dict1 = {}

In [ ]:
dict1

In [ ]:
# Tambah value baru
dict1['one'] = "This is one"

In [ ]:
dict1

In [ ]:
# Tambah value baru lagi
dict1[2] = "This is two"

In [ ]:
dict1

In [ ]:
print("Print dictionary on dict1['one']: ", dict1['one'])
print("Print dictionary on dict1[2]: ", dict1[2])
print("Print dictionary on dict1: ", dict1)

In [ ]:
# Ganti value
dict1['one'] = 1

In [ ]:
dict1

In [ ]:
tinydict1 = {'name': 'john','code':6734, 'dept': {'pos': 'sales', 'pos': 'engineering'}}
tinydict1

In [ ]:
tinydict2 = {'name': 'anna','code':6734, 'dept': [{'pos': 'sales'}, {'pos': 'engineering'}], 'age': 30}
tinydict2

In [ ]:
del tinydict2['age']

In [ ]:
tinydict2

In [ ]:
tinydict2.pop('code')

In [ ]:
tinydict2

### Case 10

Buat sebuah sebuah dictionary dan print di jupyter notebook, Contoh:

```
{
    'nama': 'sasuke uchiha',
    'nim': 2221100025,
}
```

Lakukan penambahan key dan value dengan urutan sebagai berikut:
+ `'alamat': 'jl. Madara no. 10, Konohagakure, Hi no Kuni'`
+ `'usia': 17`

Lakukan penggantian setiap value sesuai dengan data diri masing2!